In [1]:
# Import required libraries
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import tensorflow as tf
import sklearn

# Import necessary modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

# Keras specific
import keras
from keras.models import Sequential
from keras.layers import Dense

In [2]:
df = pd.read_csv('votes.csv')

In [3]:
df

,id,user_choice,carrier_1,carrier_2,amount_of_delays_1,amount_of_delays_2,amount_of_flights_1,amount_of_flights_2,chance_of_accident_1,chance_of_accident_2,chance_of_delay_1,chance_of_delay_2,mean_of_delay_1,mean_of_delay_2,number_of_accidents_1,number_of_accidents_2
0,17,1,Virgin,USAirways,145536,1069473,389060,3113545,0.0,0.0,0.37,0.34,13.78,9.55,0,90
1,18,2,Hawaiian,Northwest,283846,1338000,974254,3203925,0.0,0.0,0.29,0.42,4.97,12.10,0,120
2,19,2,9,Spirit,1615,2823656,7800,8540784,0.0,0.0,0.21,0.33,2.97,14.37,0,648
3,20,2,Mesa,Spirit,611135,2823656,1803317,8540784,0.0,0.0,0.34,0.33,13.07,14.37,0,648
4,21,2,Horizon,Comair,25049,512409,88860,1418873,0.0,0.0,0.28,0.36,6.72,14.28,0,81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,653,1,Virgin,United,145536,139137108,389060,429971388,0.0,0.0,0.37,0.32,13.78,12.70,0,10890
635,654,1,Spirit,Air,2823656,529686,8540784,1482255,0.0,0.0,0.33,0.36,14.37,10.80,648,0
636,655,1,Frontier,Republic,530019,2947750,1324472,11138260,0.0,0.0,0.40,0.26,14.50,10.67,0,450
637,656,1,Comair,Endeavor,512409,1635432,1418873,5993664,0.0,0.0,0.36,0.27,14.28,10.87,81,279
638,657,1,Northwest,Endeavor,1338000,1635432,3203925,5993664,0.0,0.0,0.42,0.27,12.10,10.87,120,279

In [4]:
X = df.drop(['id','user_choice','carrier_1','carrier_2'], axis=1)
y = df['user_choice']

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10, random_state=42)

In [6]:
X_train

,amount_of_delays_1,amount_of_delays_2,amount_of_flights_1,amount_of_flights_2,chance_of_accident_1,chance_of_accident_2,chance_of_delay_1,chance_of_delay_2,mean_of_delay_1,mean_of_delay_2,number_of_accidents_1,number_of_accidents_2
49,2947750,611135,11138260,1803317,0.0,0.0,0.26,0.34,10.67,13.07,450,0
76,579635,611135,1483590,1803317,0.0,0.0,0.39,0.34,14.46,13.07,0,0
409,25049,283846,88860,974254,0.0,0.0,0.28,0.29,6.72,4.97,0,0
39,529686,6369892,1482255,17740932,0.0,0.0,0.36,0.36,10.80,13.31,0,564
165,529686,579635,1482255,1483590,0.0,0.0,0.36,0.39,10.80,14.46,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
71,294308014,248202548,1020209890,708665648,0.0,0.0,0.29,0.35,9.97,13.13,16170,12540
106,2823656,1635432,8540784,5993664,0.0,0.0,0.33,0.27,14.37,10.87,648,279
270,25049,611135,88860,1803317,0.0,0.0,0.28,0.34,6.72,13.07,0,0
435,611135,529686,1803317,1482255,0.0,0.0,0.34,0.36,13.07,10.80,0,0
102,283846,6369892,974254,17740932,0.0,0.0,0.29,0.36,4.97,13.31,0,564

In [7]:
model = Sequential()
model.add(Dense(16, input_dim=12, activation= "relu"))
#model.add(Dense(1024, activation= "relu"))
#model.add(Dense(512, activation= "relu"))
#model.add(Dense(256, activation= "relu"))
#model.add(Dense(128, activation= "relu"))
#model.add(Dense(64, activation= "relu"))
model.add(Dense(32, activation= "relu"))
model.add(Dense(16, activation= "relu"))
model.add(Dense(8, activation= "relu"))
model.add(Dense(1,activation= "softmax"))

In [8]:
[print(i.shape, i.dtype) for i in model.inputs]
[print(o.shape, o.dtype) for o in model.outputs]
[print(l.name, l.input_shape, l.dtype) for l in model.layers]

(None, 12) <dtype: 'float32'>
(None, 1) <dtype: 'float32'>
dense (None, 12) float32
dense_1 (None, 16) float32
dense_2 (None, 32) float32
dense_3 (None, 16) float32
dense_4 (None, 8) float32

[None, None, None, None, None]

In [9]:
model.compile(optimizer='adam', 
              loss='categorical_crossentropy', 
              metrics=['accuracy'])
model.fit(X_train, y_train, epochs=20)

Epoch 1/20
18/18 [==============================] - 3s 3ms/step - loss: 0.0000e+00 - accuracy: 0.8296
Epoch 2/20
18/18 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.8296
Epoch 3/20
18/18 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.8296
Epoch 4/20
18/18 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.8296
Epoch 5/20
18/18 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.8296
Epoch 6/20
18/18 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.8296
Epoch 7/20
18/18 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.8296
Epoch 8/20
18/18 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.8296
Epoch 9/20
18/18 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.8296
Epoch 10/20
18/18 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.8296
Epoch 11/20
18/18 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.8296
Epoch 12/20
18/18 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.8296
Epoch 13/20
18/18 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.8296
Epoch 14/20
18/18 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.8296
Epoch 15/20
18/18 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.8296
Epoch 16/20
18/18 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.8296
Epoch 17/20
18/18 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.8296
Epoch 18/20
18/18 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.8296
Epoch 19/20
18/18 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.8296
Epoch 20/20
18/18 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.8296

In [10]:
pred= model.predict(X_test)

2/2 [==============================] - 0s 2ms/step

In [11]:
sklearn.metrics.accuracy_score(y_test, pred, normalize=True, sample_weight=None)

0.828125

In [12]:
model.save('model')

INFO:tensorflow:Assets written to: model\assets

In [13]:
model.predict(np.array([1,1,1,1,1,1,1,1,1,1,1,1]).reshape(1,-1))[0,0]

1/1 [==============================] - 0s 61ms/step

1.0